* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.whole-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: flex;
    height: 90vh;
    width: 100vw;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 83.8vw;
    height: 90vh;
    padding: 20px;
    padding-left: 35px;
}

.title-block {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.text-title {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
}

.add-container {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.button-add, .submit-user {
    /* Remove default styling */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-transform: none;
    line-height: inherit;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background-color: #0d4e86;
}

.button-cancel {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-transform: none;
    line-height: inherit;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

.action-edit {
    all: unset;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: #0d4e86;
    box-sizing: border-box;
    border-radius: 5px;
}

.submit-edit, .submit-delete {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: #0d4e86;
    box-sizing: border-box;
    border-radius: 5px;
}

/*
.table-content tr:nth-child(odd){
    background-color: lightgray;
}
*/


/* PRIMARY INDICATORS PAGE */
.options-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
}

.table-content th, .table-content td {
    border: none;
    margin: 0;
    padding: 5px;
}

.table-content th {
    background-color: rgba(13, 78, 134, 0.15);
    font-weight: normal;
    text-transform: uppercase;
}

.manage-button {
    background-color: #0d4e86;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.options-container {
    margin-bottom: 30px;
}

.input-search {
    background-color: #E8E8E8;
    color: #575757;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-action {
    height: 22px;
    width: 22px;
    border: 2px solid #0d4e86;
    font-weight: bold;
    color: #0d4e86;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.button-action:hover {
    background-color: #0d4e86;
    color: white;
}

.input-comment {
    background-color: #E8E8E8;
    color: #575757;
    border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: inherit;
    font-style: italic;
}

.comment-info {
    display: flex;
}

.comment-content {
    font-weight: bold;
}

.comment-container {
    background-color: #E8E8E8;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 8px;
}


/* CUSTOM DROPDOWN */
.dropdown-button {
    background-color: #E8E8E8;
    color: #575757;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;
    height: 38px;
    box-sizing: border-box;
    font-size: 13px;
    z-index: 1;
}

.dropdown-content {
    display: none;
    background: white;
    position: absolute;
    margin-top: 10px;
    width: 30vw;
    border-radius: 5px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 2;
    font-size: 12px;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0d4e86;
    padding: 15px;
    color: white;
    font-size: 16px;
    height: 100%;
}

.dropdown-main {
    padding: 15px;
}

.dropdown-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
    padding-top: 0;
}


.line-container {
    height: 0.5px;
    width: 100%;
    background-color: #BBBBBB;
    margin: 10px 0;
}


/* BUTTONS LAYOUT */
.primary-button {
    background-color: #0d4e86;
    min-width: 75px;
    color: white;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid #0d4e86;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 35px;
}

.secondary-button {
    background-color: white;
    color: #0d4e86;
    min-width: 75px;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #0d4e86;
    cursor: pointer;
    box-sizing: border-box;
}

.select-input {
    appearance: none;
    padding: 5px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
}

.input-layout {
    appearance: none;
    padding: 5px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
}

.close-icon-container {
    display: flex;
    align-content: start;
    height: 20%;
    color: white;
}

.svg-close {
    height: 10px;
    width: auto;
    cursor: pointer;
}

.svg-gear {
    height: 20px;
    width: auto;
}


/* MODAL LAYOUT */
.modal-content {
    background: white;
    border-radius: 5px;
    font-size: 12px;
    min-width: 30vw;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0d4e86;
    padding: 15px;
    color: white;
    font-size: 16px;
    height: 100%;
}

.modal-subheader {
    width: 100%;
    background-color: rgba(13, 78, 134, 0.15);
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: #494949;
}

.modal-main {
    padding: 15px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
    padding-top: 0;
}
