.navigation-container {
    height: 10vh;
    width: 100vw;
    background-color: #0d4e86;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 15px;
    box-sizing: border-box;
}

.image-ims {
    height: 8vh;
    width: 100%;
}

.text-system {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.right-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.notif-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-notif {
    height: 3vh;
    width: auto;
}

.vline-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-line {
    width: 1px;
    height: 5vh;
    background-color: white;
    margin: 0 10px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-profile {
    height: 5.5vh;
    width: auto;
    border-radius: 50%;
}

.svg-logo-container {
    height: 100%;
}

.svg-logo {
    height: 100%;
    width: auto;
}

.logo-container {
    display: flex;
    height: 100%;
}

.button-profile {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

.content-profile {
    display: none;
    position: absolute;
    background-color: lightgray;
    margin-top: 20vh;
    min-width: 130px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content-profile a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content-profile a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
