.left-bar {
    display: flex;
    height: 90vh;
    padding: 12px;
    padding-right: 0;
    box-sizing: border-box;
    box-shadow: 5px 0px 12px 7px rgba(0, 0, 0, 0.17);
}

.nav-container {
    width: 15vw;
    margin: 0;
}

.nav-class {
    width: 100%;
}

.collapse-container {
    display: flex;
    width: 1.2vw;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 5px;
    height: 5px;
    border: 1px solid black;
    border-radius: 50%;
}


a {
    text-decoration: none;
    color: black;
}

.nav-class ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-class li {
    margin: 0;
}

.list-dashboard-container {
    display: flex;
    height: 3.5vh;
    width: 100%;
    margin-bottom: 8px;
}

.list-library-container {
    display: flex;
    height: 3.5vh;
    width: 100%;
}

.list-dashboard-container.active {
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
}

.dboard-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin: 0;
}

.library-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin: 0;
}

.svg-dashboard, .svg-indicators, .svg-library {
    height: 85%;
    width: auto;
}

.action-dashboard-container {
    display: flex;
    align-items: center;
    width: 80%;
}

.button-library {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
}


.list-library-container.active {
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
}

.action-library-container {
    display: flex;
    align-items: center;
    color: black;
    width: 75%;
}

.dropdown-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: auto;
}

.svg-dropdown {
    height: 60%;
    width: auto;
}

.sublibrary-container {
    display: none;
}

.list-item-container {
    display: flex;
    margin-bottom: 8px;
}

.hyphen-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1vw;
    width: 20%;
}

.button-collapse {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    width: 60%;
    height: 10%;
}

.collapse-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
